{% extends 'CmsUserBundle::layout.html.twig' %}

{% block body %}
    <div class="container">
        {{ user.username }}<br>
        {{ user.password }}<br>
        {{ user.dateOfBirthday.date }}<br>
        {{ user.about }}

    </div>
{% endblock %}